version: "3.9"

services:
  bot:
    build: .
    container_name: discord-bot
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/mydb
    volumes:
      - .:/app
    command: python -m src.bot

  mongo:
    image: mongo:7.0
    container_name: discord-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
